# PyAuthService Environment Configuration
# Copy this to .env and update with your values

# Django Settings
DEBUG=False
SECRET_KEY=<secret-key>
ALLOWED_HOSTS=apis.hacksaw.in,auth.hacksaw.in
CSRF_TRUSTED_ORIGINS=https://apis.hacksaw.in,https://auth.hacksaw.in
CORS_ALLOWED_ORIGINS=https://hacksaw.in
STATIC_URL=/static/

# Database engine: sqlite3 for local development, postgresql for deployments
DB_ENGINE=postgresql

# PostgreSQL
POSTGRES_DB=pyauthservice
POSTGRES_USER=authuser
POSTGRES_PASSWORD=authpassword
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# App variables and secrets
OIDC_ISS_ENDPOINT=<https://domain.com>
OIDC_RSA_PRIVATE_KEY=<rsa-private-key>
