# PyAuthService Environment Configuration
# Copy this to .env and update with your values

# Django Settings
DEBUG=False
SECRET_KEY=your-secret-key-here-change-in-production
ALLOWED_HOSTS=localhost,127.0.0.1,yourdomain.com
STATIC_URL=/auth/static/

# Service API Configuration
SERVICE_API_TOKEN=your-api-token-here
SERVICE_API_TOKEN_KEY=X-Status-Token

# Home Page URL
HOME_URL=https://yourdomain.com

# App variables and secrets
ARTIFACTORY_DOMAIN=to-be-filled
LOGIN_APP_VERSION=to-be-filled
OIDC_ISS_ENDPOINT=to-be-filled
OIDC_RSA_PRIVATE_KEY=add-rsa-private-key
