<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="https://hacksawrazor.pythonanywhere.com/resources/login/meta/favicon.svg">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#000000">
    <meta name="description" content="Login app for hacksaw cloud">
    <link rel="apple-touch-icon" href="https://hacksawrazor.pythonanywhere.com/resources/login/meta/favicon.svg">
    <link rel="manifest" href="https://hacksawrazor.pythonanywhere.com/resources/login/meta/manifest.json">
    <title>Login | hacksaw</title>
    {% if css_url %}
    <link rel="stylesheet" href="{{ css_url }}">
    {% endif %}
    {% if js_url %}
    <script src="{{ js_url }}" defer></script>
    {% endif %}
</head>

<body>
    <div id="root"></div>
</body>

</html>